
body { position:static; background-color: #ffffff;}


.section_number{margin: 0 auto; position: static; display: block;}
.section_title_small{position: static; margin-top: 20px;}
.question_top {position: absolute; display: inline-block; float: right; cursor: pointer;}

.dis_close img{padding-bottom: 10px; width: 28px; height: auto; margin: 0 auto; display: block;}
.dis_close{position: fixed; left: 10px; top: 15px; width: 40px; height: 40px; z-index: 9998; cursor: pointer; font-size: 12px; font-weight: 700; text-align: center;}
.text_box_top a{color: #0075BE;}
#section18{background-color: #ffffff; z-index: 1; width: 100%; height: auto !important; padding-bottom: 20px;}
#section18 .slimScrollDiv{padding-bottom: 20px;}
#scroll_box{width: 60%; height: auto; margin: 40px auto 0; text-align: left; font-size: 16px; line-height: 170%;box-sizing: border-box; padding: 10px;}
.text_box_top{margin: 40px 0 0 0; }
.attention{color: #0075BE;}
.disclaimer{z-index: 9;}
.disclaimer_logo {display: inline-block;}
.disclaimer_logo img{width: 166px; height: 77px; margin: 0 20px 20px 0;}
.disclaimer_text_bottom{padding-left: 5em;}
.text_box_bottom{padding: 0 0 20px; 0; text-align: left; width: 60%; margin: 30px auto 50px; box-sizing: border-box; padding: 10px;font-size: 16px; line-height: 170%;}
.disclaimer_text{display: inline-block; float: right;}


@media screen and (min-width: 1200px){
.disclaimer_text{float: none; margin-left: 150px;}
}

@media screen and (max-width: 640px){
.mask{height: 70px; position: fixed; z-index: 4; top:0; background-color:#ffffff; width: 100%;}
.section_number img{z-index: 5;}

/* stage18 */
#scroll_box{width: 80%; height: auto; margin: 0 auto; text-align: left; font-size: 13px; line-height: 170%;box-sizing: border-box; padding: 15px 0 25px 0;}
.text_box_top{margin: 0; font-size: 13px;}
.text_box_bottom{padding: 0 0 20px; 0; text-align: left;}
.attention{color: #0075BE;}
.disclaimer{z-index: 20; font-size: 10px;}
.disclaimer_logo img{width: 90px; height: 41px; margin: 0 10px 5px 0;}
.disclaimer_text_bottom{padding-left: 5em;}
.text_box_bottom{padding: 0 0 20px; 0; text-align: left; width: 100%; margin: 7px auto 0; box-sizing: border-box; padding: 10px 0;font-size: 12px; line-height: 170%;}

.source {bottom: 10px;}

}


