@charset "utf-8";
$html-left:30px;
$common-text-color:#1d1f24;
$common-fontTop-color:#686B72;
.wf-loading .works_text_block div, .wf-loading .works_nav
{
visibility: hidden;
}
.wf-active .works_text_block div, .wf-inactive .works_text_block div,
.wf-active .works_text_block div, .wf-inactive .works_nav {
visibility: visible;
}

html{
	height: auto;
	min-height: 100%;
	background-color: #eceff0 !important;
	position: relative;
}
body{
	height: auto;
	min-height: 100%;
}
#wrapper{
	height: auto;
	min-height: 100%;
	background-color: #eceff0;
	margin-bottom: 70px;
	width: 100%;
}
footer{
	position: absolute;
	bottom: 0;
	background-color: #eceff0;
}
.g_nav {
  left: 50%;
  margin-left: -175px;
}

.works_nav{
	position: fixed;
	left: $html-left + 9px;
	top: 160px;
	font-family: "adobe-garamond-pro", serif;
	color: $common-fontTop-color;
	letter-spacing: 1px;
	font-size: 11px;
	.works_all, .works_graphic, .works_web, .works_wood{
		margin-bottom: 18px;
		display: block;
		cursor: pointer;
		position: relative;
		transition: .3s ease-in-out;
	}
	.works_all:hover, .works_graphic:hover, .works_web:hover, .works_wood:hover{
		opacity: 0.5;
	}
}
.works_active{
	pointer-events: none;
}
.works_all::before, .works_graphic::before, .works_web::before, .works_wood::before{
	background-color: #b3bac3;
  content: '';
  display: block;
  position: absolute;
  z-index: 10;
  transition: all .3s ease-in-out;
	bottom: -3px;
	height: 2px;
	left: 0px;
	width: 0px;
}
.works_active::before {
	width: 100%;
}

.icon_block{
	top: 160px;
}

.work_wrap{
	padding-top: 135px;
	text-align: center;
	#workimg_block{
		width: 65%;
		margin: 0 auto;
		z-index: 1;
	}
	.work_img{
		cursor: pointer;
		overflow: hidden;
		position: relative;
		z-index: 1;
		margin: 1%;
		width: 31.333%;
		float: left;
		display: inline-block;
		img{
			width: 100%;
		}
		figcaption {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,.6);
			-webkit-transition: .2s ease-out;
			transition: .2s ease-out;
			opacity: 0;
		}
		figcaption p{
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			left: -150%;
			font-size: 14px;
			font-weight: bold;
			letter-spacing: 1px;
			height: 32px;
			color: #ffffff;
			-webkit-transition: .3s ease-in-out;
			transition: .3s ease-in-out;
		}
		figcaption p.category{
		top: 17px;
		font-size: 10px;
		color: #ebebeb;
		height: 10px;
		}
	}
	.work_img:hover figcaption {
		opacity: 1;
	}
	.work_img:hover figcaption p {
		left: 0;
		right: 0;
		-webkit-transition-delay: .1s;
		transition-delay: .1s;
	}
	.work_img:hover figcaption p.category{
		left: 0;
		right: 0;
		-webkit-transition-delay: .3s;
		transition-delay: .3s;
	}
}


#works_detail{
	position: fixed;
	z-index: 11;
	height: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transform: scale3d(0,0,1);
	transition: all .6s ease-in-out;

}
#works_detail.detail_active{
	overflow-y: scroll;
	transform: none;
	opacity: 1;
}

.works_background{
	width: 100%;
	height: 100%;
	background-color: rgba(236, 239, 240, 0.98);
	position: fixed;
	z-index: 9;
	top: 0;
	left: 0;
}
.description_close{
	position: fixed;
	left: 15px;
	top: 130px;
	display:inline-block;
	width: 60px;
	height: 60px;
	z-index: 11;
	cursor: pointer;
	transition: all .6s ease-in-out;
	animation: close 1s ease-in-out .5s normal backwards;
	-webkit-animation: close 1s ease-in-out .5s normal backwards;

}
@keyframes close {
	0% {
		transform: rotate(0deg) scale3d(0,0,0);
	}
	100% {
		transform: rotate(-360deg) scale3d(1,1,1);
	}
}

@-webkit-keyframes close {
	0% {
		-webkit-transform: rotate(0deg) scale3d(0,0,0);
	}
	100% {
		-webkit-transform: rotate(-360deg) scale3d(1,1,1);
	}
}
.description_close:hover{
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
}
.description_close:hover > .close_line1, .description_close:hover > .close_line2{
	background: $common-fontTop-color;
	width: 48px;
}
.close_line1, .close_line2{
	width: 48px;
	height: 1px;
	background: #2A5C9A;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: inline-block;
	transition: all .5s ease-in-out;
}
.close_line1{
	-webkit-transform: translate(0px, 0px) rotate(45deg);
	transform: translate(0px, 0px) rotate(45deg);
}
.close_line2{
	-webkit-transform: translate(0px, 0px) rotate(-225deg);
	transform: translate(0px, 0px) rotate(-225deg);
}
.description{
	width: 70%;
	box-sizing: initial;
	margin: auto;
	padding: 60px 15%;
	left: 0;
	right: 0;
	position: absolute;
	z-index: 10;
	text-align: center;
	.works_text_block{
		position: relative;
		margin: 0 1% 4%;
		width: 48%;
		border: solid 1px $common-fontTop-color;
		box-sizing: border-box;
		color: $common-text-color;
		text-align: left;
		padding: 30px;
		top: 0;
		background-color: #FDFDFD;
		.works_title{
			display: block;
			font-size: 16px;
			position: relative;
			margin-bottom: 30px;
			letter-spacing: 4px;
			display: inline-block;
		}
		.works_title::before{
			content: '';
			width: 100%;
			bottom: -3px;
			left: 0;
			position: absolute;
			border-bottom: solid 1px $common-fontTop-color;
		}
		.works_title::after{
			width: 100%;
			content: '';
			bottom: -7px;
			left: 0;
			position: absolute;
			border-bottom: solid 2px $common-fontTop-color;
		}
		.works_category{
			font-size: 12px;
			margin-bottom: 15px;
			letter-spacing: 1px;
		}
		.works_date{
			font-size: 12px;
			margin-bottom: 15px;
			line-height: 16px;
			letter-spacing: 1px;
		}
		.works_text{
			font-size: 12px;
			line-height: 18px;
			letter-spacing: 1px;
		}
	}
	img{
		margin: 1%;
		width: 48%;
		float: left;
	}
}



@media screen and (min-width: 1300px){
	.work_wrap{
		#workimg_block{
			width: 65%;
			max-width: 1200px;
		}
		.work_img{
			margin: 1%;
			width: 23%;
		}
	}
	.description{
		width: 80%;
		padding: 60px 17.5%;
		max-width: 1000px;
		.works_text_block{
			width: 48%;
		}
		img{
			width: 48%;
		}
	}
}
@media screen and (max-width: 1024px){
	.work_wrap{
		.work_img{
			margin: 1%;
			width: 48%;
		}
	}
	.description{
		.works_text_block{
			width: 98%;
		}
	}
}
@media screen and (max-width: 640px){
	.works_nav{
		width: 100%;
		left: 0;
		right: 0;
		margin: auto;
		font-size: 11px;
		letter-spacing: 0;
		top: 0;
    z-index: 3;
    padding-top: 28px;
    padding-bottom: 15px;
    text-align: center;
    background-color: #ECEFF0;
		.works_all, .works_graphic, .works_web, .works_wood{
			margin: 0 15px 0 0;
			display: inline-block;
		}
		.works_wood{margin: 0;}
	}
	.work_wrap{
		#workimg_block{
			width: 100%;
		}
		.work_img{
			margin: 0 auto 14px;
			width: 100%;
			box-sizing: border-box;
			padding: 0 20px;
			figcaption {
				box-sizing: border-box;
				border-right: solid 20px #ECEFF0;
				border-left: solid 20px #ECEFF0;
			}
		}
	}
	.description{
		width: 85%;
		padding: 40px 7.5%;
		.works_text_block{
			width: 98%;
		}
		img{
			width: 98%;
		}
	}
	.description_close{
		margin: auto;
		left: 0;
		right: 0;
		top: 14px;
		width: 45px;
		height: 45px;
		background-color: rgba(239, 239, 239, 0.56);
		border-radius: 50%;
	}
	.close_line1, .close_line2{
		width: 28px;
	}
}
