@charset "utf-8";
$common-fontTop-color: #686B72;
$common-text-color: #1d1f24;
body, html{
  overflow-x: hidden;
}
.more_bt:hover {
	color: #ffffff;
	background-color: $common-text-color;
}
.more_bt {
	cursor: pointer;
	font-family: "adobe-garamond-pro", serif;
	color: $common-text-color;
	font-size: 20px;
	border: solid 1px $common-text-color;
	border-radius: 50%;
	margin: 35px auto 50px;
	height: 40px;
	width: 40px;
	padding-top: 0;
	position: relative;
	transition: 0.3s ease-in-out;
	display: block;
}
.more_bt::after {
	position: absolute;
	top: -100%;
	left: -100%;
	right: -100%;
	bottom: -100%;
	margin: auto;
	border-radius: 50%;
	border: solid 1px $common-text-color;
	box-sizing: border-box;
	width: 140%;
	height: 140%;
	content: "";
	opacity: 0;
	transition: 0.3s ease-in-out;
	transform: scale(0.7, 0.7);
	-webkit-transform: scale(0.7, 0.7);
}
.more_bt:hover:after {
	opacity: 1;
	transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
}
#section_top {
	width: 100%;
	height: 100%;
	position: relative;
	.intro {
		margin: auto;
		position: absolute;
		left: 32%;
		bottom: 0;
		top: 85px;
		height: 180px;
		font-family: "adobe-garamond-pro", serif;
		animation: intro 0.7s ease-in-out 2s normal both;
    writing-mode: vertical-rl;
		.name {
			position: relative;
			float: left;
			clear: both;
      margin-left: 20px;
			font-size: 24px;
			letter-spacing: 12px;
			color: #949ba7;
		}
		.name::after {
			content: attr(data-txt);
			position: absolute;
			color: #1d1f24;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			clip: rect(0,180px,0,0);
			animation: name 0.7s ease-in-out 2.5s normal both;
			-webkit-animation: name 0.7s ease-in-out 2.5s normal both;
		}
		.job {
			position: relative;
			float: left;
			clear: both;
			font-size: 12px;
			letter-spacing: 2px;
			margin: 0 0 0 6px;
			color: #949ba7;
		}
		.job::after {
			content: attr(data-txt);
			position: absolute;
			color: #1d1f24;
			top: 0;
			left: 0;
			width: 100%;
			height: 180px;
			clip: rect(0,180px,0,0);
			animation: name 0.7s ease-in-out 2.5s normal both;
			-webkit-animation: name 0.7s ease-in-out 2.5s normal both;
		}
		.description {
			position: relative;
			float: left;
			clear: both;
			font-size: 12px;
			letter-spacing: 2px;
      line-height: 1;
			margin: 2px 12px 0 1px;
			color: #949ba7;
		}
		.description::after {
			content: attr(data-txt);
			position: absolute;
			color: #1d1f24;
			top: 0;
			left: 0;
			width: 100%;
			height: 180px;
      clip: rect(0,180px,0,0);
			animation: name 0.7s ease-in-out 2.5s normal both;
			-webkit-animation: name 0.7s ease-in-out 2.5s normal both;
		}
	}
	@keyframes intro {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	@-webkit-keyframes intro {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	@keyframes name {
		0% {
			clip: rect(0,30px,0,0);
		}
		100% {
			clip: rect(0,30px,180px,0);
		}
	}
	.arrow_down:hover img {
		-webkit-transform: translate3d(0, 15px, 0);
		transform: translate3d(0, 15px, 0);
		padding-top: 20px;
	}
	.arrow_down {
		position: absolute;
		bottom: 30px;
		left: 32%;
		z-index: 5;
	}
	.arrow_down a {
		display: inline-block;
	}
	.arrow_down img {
		transition: 0.3s ease-in-out;
		padding: 0 58px;
	}
	.tree {
		margin: 80px 0 0;
		position: absolute;
		bottom: 0;
		right: 0;
    text-align: right;
		img {
			width: 85%;
		}
	}
}
@mixin section2-4 {
	width: 100%;
	display: inline-block;
	text-align: center;
}
@mixin tt_font {
	font-size: 14px;
	font-family: "adobe-garamond-pro", serif;
	letter-spacing: 2px;
	color: $common-text-color;
	padding: 0 0 5px;
	box-sizing: inherit;
	margin: 100px auto;
	display: inline-block;
	visibility: hidden;
	position: relative;
}
.tt_move {
	stroke: #000000;
	fill: #45474C;
	stroke-width: 0.1;
	fill-opacity: 0;
	stroke-dasharray: 2350;
	stroke-dashoffset: 2350;
	visibility: visible !important;
	-webkit-animation: tt_move 1.7s ease-in-out 0.3s forwards;
	animation: tt_move 1.7s ease-in-out 0.3s forwards;
}
@keyframes tt_move {
	0% {
		stroke-dashoffset: 2350;
		fill-opacity: 0;
	}
	30% {
		fill-opacity: 0;
		stroke-width: 0.1;
	}
	100% {
		stroke-dashoffset: 2250;
		fill-opacity: 1;
		stroke-width: 0;
	}
}
@-webkit-keyframes tt_move {
	0% {
		stroke-dashoffset: 2350;
		fill-opacity: 0;
	}
	30% {
		fill-opacity: 0;
		stroke-width: 0.1;
	}
	100% {
		stroke-dashoffset: 2250;
		fill-opacity: 1;
		stroke-width: 0;
	}
}
.tt_border::before {
	content: "";
	height: 1px;
	width: 100%;
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #45474C;
	animation: tt_border 0.6s ease-in-out 1.2s normal both;
	-webkit-animation: tt_border 0.6s ease-in-out 1.2s normal both;
}
@keyframes tt_border {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}
@-webkit-keyframes tt_border {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}
.tt_work {
	@include tt_font;
}
#section_work {
	@include section2-4;
	background-color: #eceff0;
	.workimg_block {
		display: inline-block;
		max-width: 800px;
		margin: 0 auto;
	}
	.work_img {
		margin: 15px;
		display: inline-block;
		overflow: hidden;
		img {
			width: 100%;
			max-width: 300px;
			transform: scale(1, 1);
			-webkit-transform: scale(1, 1);
			transition: 0.3s ease-in-out;
		}
	}
	.work_img:hover img {
		transform: scale(1.2, 1.2);
		-webkit-transform: scale(1.2, 1.2);
	}
}
#section_photo {
	@include section2-4;
	.tt_block {
		.tt_photo {
			@include tt_font;
		}
	}
	.photoimg_block {
		display: inline-block;
		max-width: 1000px;
		margin: 0 auto;
	}
	.photo_img {
		margin: 15px;
		display: inline-block;
		overflow: hidden;
		img {
			width: 100%;
			max-width: 240px;
			transform: scale(1, 1);
			-webkit-transform: scale(1, 1);
			transition: 0.3s ease-in-out;
		}
	}
	.photo_img:hover img {
		transform: scale(1.2, 1.2);
		-webkit-transform: scale(1.2, 1.2);
	}
}
#section_about {
	@include section2-4;
	background-color: #E7EFF3;
	padding-bottom: 80px;
	.tt_block {
		.tt_about {
			@include tt_font;
		}
	}
	.about_name_small {
		color: $common-text-color;
		font-size: 10px;
		letter-spacing: 0.5px;
		line-height: 10px;
	}
	.about_name_large {
		color: $common-text-color;
		font-size: 16px;
		letter-spacing: 8px;
		margin-bottom: 18px;
		text-indent: 9px;
	}
	.about_profile {
		color: $common-text-color;
		font-size: 12px;
		line-height: 26px;
	}
	.about_mail::after {
		pointer-events: none;
		content: "send mail";
		width: 80px;
		position: absolute;
		top: 5px;
		margin: 0 auto;
		left: 0;
		right: 0;
		opacity: 0;
		-webkit-transform: translate3d(0px, 0, 0);
		transform: translate3d(0px, 0, 0);
		transition: 0.3s ease-in-out;
	}
	.about_mail:hover::after {
		opacity: 1;
		-webkit-transform: translate3d(0, 20px, 0);
		transform: translate3d(0, 20px, 0);
	}
	.about_mail:hover img {
		opacity: 0.5;
	}
	.about_mail {
		display: inline-block;
		margin: 40px auto 0;
		position: relative;
		color: $common-text-color;
		font-family: "adobe-garamond-pro", serif;
		font-size: 12px;
		letter-spacing: 1px;
	}
	.about_mail img {
		padding: 0 40px;
	}
	.about_send_txt {
		font-size: 10px;
		margin-top: -5px;
		letter-spacing: 0.5px;
	}
}
@media screen and (max-width: 1024px) {
	#section_top {
		.tree img {
			position: relative;
			right: 0px;
			width: 75%;
		}
	}
	#section_work {
		.work_img {
			img {
				width: 100%;
				max-width: 240px;
			}
		}
	}
}
@media screen and (max-width: 640px) {
	.more_bt {
		margin: 34px auto 50px;
	}
	#section_top {
		.tree img {
			position: relative;
			right: -30px;
			width: 100%;
		}
		.intro {
			top: -100px;
			// .name {
			// 	font-size: 20px;
			// 	letter-spacing: 4px;
			// }
			// .job {
			// 	float: left;
			// 	clear: both;
			// 	font-size: 11px;
			// 	letter-spacing: 2px;
			// 	margin: 3px 0 0;
			// }
			// .description {
			// 	float: left;
			// 	clear: both;
			// 	font-size: 11px;
			// 	letter-spacing: 2px;
			// 	margin: 20px 0 0;
			// }
		}
		.arrow_down {
			display: none;
		}
	}
	#section_work {
		.tt_block {

		}
		.workimg_block {
			box-sizing: border-box;
			padding: 0 20px;
		}
		.work_img {
			margin: 0 0 14px;
			display: inline-block;
			img {
				width: 100%;
				max-width: inherit;
			}
		}
	}
	#section_photo {
		.photoimg_block {
			box-sizing: border-box;
			padding: 0 20px;
		}
		.photo_img {
			margin: 0 0 14px;
			display: inline-block;
			img {
				width: 100%;
				max-width: inherit;
			}
		}
		.photo_img:nth-child(n+5) {
			display: none;
		}
	}
	#section_about {
		@include section2-4;
		padding-bottom: 80px;
		.about_name_small {
			font-size: 10px;
			letter-spacing: 0.5px;
			line-height: 10px;
		}
		.about_name_large {
			font-size: 15px;
			letter-spacing: 9px;
		}
		.about_profile {
			font-size: 11px;
			line-height: 26px;
		}
		.about_mail {
			margin: 40px auto 0;
		}
		.about_send_txt {
			font-size: 10px;
			margin-top: -5px;
			letter-spacing: 0.5px;
		}
	}
}
